/*General*/
    * {
        box-sizing: border-box;
        }
/*Estructura de página*/
    body.page-wrapper {
        width: 100%;
        height: 100%;
    }

    body.is-loading {
        overflow: hidden;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 45px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        position: absolute  !important;
        top: 500px  !important;
        left:0 !important;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #target {
        width: 345px;
      }

    #button-set{
        position: absolute;
        bottom: 50px;
        left: 13px;
        background-color: mediumpurple;
        z-index: 1;
        padding: 10px 106px;
    }
