/*General*/
    * {
        box-sizing: border-box;
        }
/*Estructura de página*/
    body.page-wrapper {
        width: 100%;
        height: 100%;
    }

    body.is-loading {
        overflow: hidden;
    }
/* Estructura del mapa y los inputs*/
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 45px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        position: absolute  !important;
        top: 500px  !important;
        left:0 !important;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #target {
        width: 345px;
      }

    #button-set{
        position: absolute;
        bottom: 50px;
        left: 13px;
        background-color: mediumpurple;
        z-index: 1;
        padding: 10px 106px;
    }

/*boton usuario*/
    #icono-user{
        position: absolute;
        z-index: 1;
        font-size: 26px;
        background-color: gray;
        padding: 2%;
        border-radius: 100%;
        top: 60px;
        left: 15px;
        color: white;
    }

/* Profile container */
    .profile {
      margin: 0px 0;
      position: absolute;
      z-index: 2;
    }

    /* Profile sidebar */
    .profile-sidebar {
      padding: 20px 0 10px 0;
      background: white;
      width: 219px;
    height: 667px;
    }

    .profile-userpic img {
      float: none;
      margin: 15% auto;
      width: 50%;
      height: 50%;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
    }

    .profile-usertitle {
      text-align: center;
      margin-top: 20px;
    }

    .profile-usertitle-name {
      color: #5a7391;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .profile-usertitle-job {
      text-transform: uppercase;
      color: #5b9bd1;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .profile-userbuttons {
      text-align: center;
      margin-top: 10px;
    }

    .profile-userbuttons .btn {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      padding: 6px 15px;
      margin-right: 5px;
    }

    .profile-userbuttons .btn:last-child {
      margin-right: 0px;
    }

    .profile-usermenu {
      margin-top: 20px;
    }

    .profile-usermenu ul li {
      border-bottom: 1px solid #f0f4f7;
    }

    .profile-usermenu ul li:last-child {
      border-bottom: none;
    }

    .profile-usermenu ul li a {
      color: black;
      font-size: 14px;
      font-weight: 400;
      font-size: 20px;
    }

    .profile-usermenu ul li a i {
      margin-right: 8px;
      font-size: 14px;
    }

    .profile-usermenu ul li a:hover {
      background-color: #fafcfd;
      color: #5b9bd1;
    }

    .profile-usermenu ul li.active {
      border-bottom: none;
    }

    .profile-usermenu ul li.active a {
      color: #5b9bd1;
      background-color: #f6f9fb;
      border-left: 2px solid #5b9bd1;
      margin-left: -2px;
    }

    #icono-cancel{
      margin-left: 85%;
    }

